/* .img1{
    width: 110px;
    clip-path: circle();
}
 .img1 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
   border:5px solid #0d6efd ;
}
.icon
{
    width: 30px;
    height: 30px;
    border-radius: 100%;
   border:7px solid #0d6efd ;
   background-color: #0d6efd;
   /* padding: -5px;
   margin: 6px 3px;
}
.info
{
 height: 100%;
 width: 100x;
margin:100px 50px;
padding: 100px -200px;
}
.text
{
    text-decoration: underline;
    text-decoration-style:line;
    text-decoration-color:#dc3545; ;
}
.img2{
  border-radius: 20%;   
}
.about
{
    text-decoration: underline;
    text-decoration-style:line ;
    text-decoration-color: #dc3545;
    line-break: normal;
}
.info1
{
    background:rgba(255,255,255, 0.06);
   box-shadow: 0px 8px 32px 0 rgba(255,255,255,0.37);
  
} */
.navbar-toggle:hover{
  background-color: #000;
  color:#f8f9fa;
}
body{
    background-color: #000;
    color:#f8f9fa;
}
.text{
   padding: 10px;
}
.b-w
{
 border-radius: 5px solid;
 width:200px;
 float: left;
 margin-left: -6px;
}
.f-w
{
    color:#f8f9fa;
    font-size: 20px;
    font-family:'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.nav-space
{
    margin:10px 30px;
}
.nav-link:hover{
 color:#198957;
}
.fa-home
{
     font-size:27px; 
    padding: 10px 10px;
    margin:10px 10px; 
}
.home-img
{
    margin:70px 0px;
}
.about
{
    padding: 10px -100px;
    margin:10px -10px
}
.fa-footer
{
     font-size:30px;   
      margin: 0px 300px;  
}
@media (max-width: 720px) {
   .fa-footer{
    font-size:20px;   
    margin: 0px 40px;  
   }
  }
.fa-footer i{
    /* align-items: center;
   justify-content: center; */
   /* padding: 0px 0px; */
   margin: 0px 60px;
}
.fa-footer i:hover{
clip-path: circle();
 background-color: #198957;
}
.card{
    background-color: #212526;
}
.rounded{
  margin: 10px 30px;
}
.h7{
    font-family: 'Londrina Outline', sans-serif;
     font-size: 80px;
     color:#198957;
  }
  .fa-head i:hover{
    clip-path: circle();
    background-color: #198957;
  }

/* cursor */

.custom-cursor-inner {
    position: fixed;
    width: 27px;
    height:29px;
    background-color: #198957; /* Inner ball color */
    border-radius: 50%; /* Make it a circle */
    pointer-events: none;
    z-index: 9999;
    animation: rotate 2s linear infinite; /* Add rotate animation to the inner ball */
  }
  
  .visible {
    opacity: 0.1; /* Make cursor visible */
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  .visit-page{
    border-radius: 5px;
    margin: 0px 25px;
  }
