
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "jost",sans-serif;
}
.navbar-toggle:hover{
  background-color: #000;
  color:#f8f9fa;
}
body{
    background-color: #000;
    color:#f8f9fa;
}
.text{
   padding: 10px;
}
.b-w
{
 border-radius: 5px solid;
 width:200px;
 float: left;
 margin-left: -6px;
}
.f-w
{
    color:#f8f9fa;
    font-size: 20px;
    font-family:'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.nav-space
{
    margin:10px 30px;
}
.nav-link:hover{
 color:#198957;
}
.fa-home
{
     font-size:27px; 
    padding: 10px 10px;
    margin:10px 10px; 
    color:#198957;
}
.fa-home:hover{
  color: #000;
}
.home-img
{
    margin:70px 0px;
}
.about
{
    padding: 10px -100px;
    margin:10px -10px
}
.fa-footer
{
     font-size:30px;   
      margin: 0px 300px;  
}

.fa-footer i{
    /* align-items: center;
   justify-content: center; */
   /* padding: 0px 0px; */
   margin: 0px 100px;
}
.fa-footer i:hover{
clip-path: circle();
 background-color: #198957;
}
.card{
    background-color: #212526;
}
.rounded{
  margin: 10px 30px;
}
.h7{
    font-family: 'Londrina Outline', sans-serif;
     font-size: 80px;
     color:#198957;
  }
  .fa-head i:hover{
    clip-path: circle();
    background-color: #198957;
  }

/* cursor */

.custom-cursor-inner {
    position: fixed;
    width: 27px;
    height:29px;
    background-color: #198957; /* Inner ball color */
    border-radius: 50%; /* Make it a circle */
    pointer-events: none;
    z-index: 9999;
    animation: rotate 2s linear infinite; /* Add rotate animation to the inner ball */
  }
  
  .visible {
    opacity: 0.1; 
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  .visit-page{
    border-radius: 5px;
    margin: 0px 25px;
  }
.pre-loader-container {
  display: grid; 
  place-items: center; 
  height: 100vh;
}

.pre-loader {
   display: flex;
}
@media only screen and (min-width: 300px) and  (max-width: 400px) {
  .h7{
    font-size: 50px;
    margin: 0px 0px;
  }
  .rounded{
    margin: 0px -10px;
    /* width: 410px;
    height: 300px; */
  }
  .get-resume{
    width: 90%;
    padding: 10px 10px;
    margin: 10px 10px;
  }
  .submit{
    width: 150px;
    margin: 0px 40px;
  }
  .about{
    width:80px;
  }
  .about-letter{
    font-size: 17px;
  }
  .home_img
  {
    height: 450px;
    width: 280px;

  }
}
@media only screen and (min-width: 300px) and  (max-width: 1400px) {
  .d-flex.fa-footer{
   display: none;
  }
  .fa-foot-icon{
    display: none;
  }
  .let-connect
  {
    display: none;
  }
}
@media only screen and (min-width: 340px) and  (max-width: 400px)
{
  .submit{
    margin: 10px 80px;
  }
}
@media only screen and (min-width: 400px) and  (max-width: 450px)
{
  .submit{
    margin: 10px 80px;
  }
}
@media only screen and (min-width: 338px) and  (max-width: 350px)
{
  .submit{
    margin: 10px 50px;
  }
}

.projects {
  /* border: 1px solid hsl(228, 15%, 15%); */
  width:500px;
  height: 350px;
}

.projects__container {
  row-gap: 2rem;
  justify-content: center;
  padding-block: 1rem;
}

.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

}

.projects__img {
  width: 500px;
  height: 300px;
}

.projects__modal {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(188deg, hsla(0, 0%, 0%, 0) 0%, hsla(162, 78%, 48%, .8) 120%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: bottom .4s;
}

.projects__subtitle,
.projects__button {
  color: hsl(228, 8%, 95%);
  font-size: 17px
}

.projects__subtitle {
  display: block;
  margin-bottom: .25rem;
}

.projects__title {
  font-size: 30px;
  margin-bottom: .75rem;
}

.projects__button {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight:  500;
}

.projects__button i {
  font-size: 1.25rem;
}

.projects__card:hover .projects__modal {
  bottom: 0;
}
@media (min-width:300px) and (max-width:400px)
{
  .home-img
  {
    width:350px;
    height: 350px;
  }
  .projects
 {
  width:330px;
  margin-right: -20px;
 }
 .projects__img{
  width:335px;
  height: 300px;
 }
 .emailForm{
  padding-left: 20px;
 }
 .submit
 {
  margin-left: 60px;
 }
}
@media (min-width: 400px) and (max-width: 575px)
{
 .home_img
 {
  width:200px;
  margin-left: -20px;
  /* margin-right: 30px; */
 }
 .projects
 {
  width:350px;
 }
 .projects__img{
  width:350px;
  height: 300px;
 }
 .contact-form
 {
  margin-left: 23px;
 }
 .submit
 {
  margin-left: 60px;
 }
}
@media (min-width:577px) and (max-width:765px)
{
  .projects
  {
   width:500px;
  }
  .submit
  {
    margin-left: 100px;
  }
}
@media (min-width:768px) and (max-width:991px)
{
  .home-img
{
 width: 330px;
 height: 400px;
}
 .projects
{
 width:320px;
}
.projects__img{
  width:320px;
  height: 330px;
 }
 .submit
 {
   margin-left: 60px;
 }
}
@media (min-width:991px) and (max-width:1200px)
{
  .projects
  {
   width:450px;
    margin-left: -90px;
    height: 320px;
  }
  .submit
  {
    margin-left: 120px;
  }
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.resume-block{
  margin-left: 50px;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #18d26e;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #18d26e;
  border: 2px solid #18d26e;
}
